.styles_label__xbuJo {
    display: block;
    line-height: 24px;
    font-size: 14px;
    font-weight: 700;
    margin: 12px 0 4px;
    color: #37383c;
}
.styles_dropdown__gnPVg {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    margin-top: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 10px #17468026;
    max-height: 300px;
    overflow: auto;
    animation: styles_slide-down___x6gi 0.1s;
    border: 1px solid #d8dde7;
}
.styles_dropdown__gnPVg.styles_isOpen__EQ6WZ {
    display: block;
    z-index: 100;
}
.styles_dropdownItem__iR47z {
    display: flex;
    align-items: center;
    padding: 0 24px;
    cursor: pointer;
    color: #37383c;
    min-height: 46px;
    transition: color 0.1s, background 0.1s;
    z-index: 10;
}
.styles_dropdownItem__iR47z.styles_noResultsItem__XFHFb {
    pointer-events: none;
    color: #858d9f;
}
.styles_dropdownItem__iR47z:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.styles_dropdownItem__iR47z:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.styles_dropdownItem__iR47z.styles_isActive__kqmbb {
    background: #f3f6fb;
}
.styles_dropdownItem__iR47z.styles_isSelected__5Cm3d {
    background: #007bff;
    color: #fff;
    font-weight: 700;
}
@keyframes styles_slide-down___x6gi {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.styles_wrapper__XkA3v {
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.styles_wrapper__XkA3v .styles_searchBoxWrapper__eog_K {
    position: relative;
}
.styles_wrapper__XkA3v .styles_searchBox__CS5KG {
    cursor: pointer;
    display: flex;
    width: 100%;
    font-size: 16px;
    align-items: center;
    padding: 0 10px;
    min-height: 46px;
    line-height: 24px;
    border-radius: 4px;
    background: #f8fbff;
    border: 1px solid #d8dde7;
    transition: border 0.1s, background 0.1s;
}
.styles_wrapper__XkA3v .styles_searchBox__CS5KG.styles_invalid__8Ng62,
.styles_wrapper__XkA3v .styles_searchBox__CS5KG:invalid {
    border-color: #007bff;
    color: #007bff;
}
.styles_wrapper__XkA3v
    .styles_searchBox__CS5KG.styles_invalid__8Ng62:not(
        .styles_hasIconLeft__EYvWy
    ),
.styles_wrapper__XkA3v
    .styles_searchBox__CS5KG:invalid:not(.styles_hasIconLeft__EYvWy) {
    padding-right: 35px;
}
.styles_wrapper__XkA3v
    .styles_searchBox__CS5KG.styles_invalid__8Ng62
    + .styles_icon__pbN_e,
.styles_wrapper__XkA3v .styles_searchBox__CS5KG:invalid + .styles_icon__pbN_e {
    color: #007bff;
}
.styles_wrapper__XkA3v .styles_searchBox__CS5KG.styles_disabled__r1rH2,
.styles_wrapper__XkA3v .styles_searchBox__CS5KG:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.styles_wrapper__XkA3v
    .styles_searchBox__CS5KG:active:not(.styles_disabled__r1rH2),
.styles_wrapper__XkA3v
    .styles_searchBox__CS5KG:focus:not(.styles_disabled__r1rH2) {
    background: #fff;
    border-color: #007bff;
    outline: none;
}
.styles_wrapper__XkA3v .styles_searchBox__CS5KG:active::placeholder,
.styles_wrapper__XkA3v .styles_searchBox__CS5KG:focus::placeholder {
    color: #d8dde7;
    opacity: 1;
}
.styles_wrapper__XkA3v .styles_searchBox__CS5KG:active:-ms-input-placeholder,
.styles_wrapper__XkA3v .styles_searchBox__CS5KG:focus:-ms-input-placeholder {
    color: #d8dde7;
}
.styles_wrapper__XkA3v .styles_searchBox__CS5KG:active::-ms-input-placeholder,
.styles_wrapper__XkA3v .styles_searchBox__CS5KG:focus::-ms-input-placeholder {
    color: #d8dde7;
}
.styles_wrapper__XkA3v .styles_searchBox__CS5KG::placeholder {
    color: #b6bfcd;
    opacity: 1;
}
.styles_wrapper__XkA3v .styles_searchBox__CS5KG:-ms-input-placeholder {
    color: #b6bfcd;
}
.styles_wrapper__XkA3v .styles_searchBox__CS5KG::-ms-input-placeholder {
    color: #b6bfcd;
}
.styles_wrapper__XkA3v .styles_searchBox__CS5KG:hover {
    background: #fff;
}
.styles_wrapper__XkA3v .styles_searchBox__CS5KG:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.styles_wrapper__XkA3v .styles_icon__pbN_e {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 16px;
    font-size: 16px;
    transform: translateY(-50%);
    color: #b6bfcd !important;
    transition: transform 0.1s;
    pointer-events: none;
}
.styles_wrapper__XkA3v .styles_icon__pbN_e.styles_isActive__gRnmA {
    transform: translateY(-50%) rotate(180deg);
}
.styles_accountSelector__09adb {
    background-color: #f8fbff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 4px;
}
@media (min-width: 992px) {
    .styles_accountSelector__09adb {
        background-color: #fff;
    }
}
.styles_title__isZX_ {
    margin: 0 0 20px;
    color: #141415;
    font-weight: 600;
    font-size: 22px;
}
.styles_options__VSh7y {
    display: flex;
    align-items: baseline;
}
.styles_option__ylDHY {
    display: inline-block;
    padding-left: 0;
    border: none;
    background-color: initial;
    font-size: 16px;
    font-weight: 400;
    color: #37383c;
}
.styles_option__ylDHY svg {
    margin-right: 8px;
    color: #d8dde7;
}
.styles_option__ylDHY:last-child {
    margin-bottom: 0;
    padding-left: 12px;
}
.styles_option__ylDHY.styles_selected__3Ds9i svg {
    color: #007bff;
}
.styles_option__ylDHY.styles_selected__3Ds9i .styles_text__uVUfl {
    color: #007bff;
    font-weight: 700;
}
.styles_option__ylDHY:active {
    color: #007bff;
}
.styles_option__ylDHY:hover {
    cursor: pointer;
}
@media (min-width: 768px) {
    .styles_accountSelector__09adb {
        flex-direction: row;
        align-items: center;
    }
    .styles_title__isZX_ {
        margin-bottom: 0;
    }
    .styles_options__VSh7y {
        flex-direction: row;
    }
    .styles_option__ylDHY {
        margin-bottom: 0;
    }
}
.styles_priceTag__wHWE_ {
    line-height: 28px;
    height: 58px;
}
@media (min-width: 768px) {
    .styles_priceTag__wHWE_ {
        height: 49px;
        margin-right: 20px;
        line-height: normal;
    }
}
.styles_priceTag__wHWE_.styles_onRequest__F04dw {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
}
.styles_priceTag__wHWE_ svg {
    font-size: 40px;
}
.styles_priceHeading__NuZaG {
    text-align: center;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.styles_priceHeading__NuZaG p {
    margin: 0;
}
@media (min-width: 768px) {
    .styles_priceHeading__NuZaG {
        text-align: initial;
    }
}
.styles_priceHeading__NuZaG .styles_priceTitle__Egx0g {
    font-size: 14px;
}
.styles_priceHeading__NuZaG .styles_vatTitle__3xVux {
    font-size: 12px;
    margin: 2px 0 0 5px;
}
.styles_price__eoPgA {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
}
@media (min-width: 768px) {
    .styles_price__eoPgA {
        text-align: right;
    }
}
.styles_priceSection__1ELMs {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
@media (min-width: 768px) {
    .styles_priceSection__1ELMs {
        flex-direction: row;
        justify-content: flex-end;
    }
}
.styles_light__7rOSU {
    color: #fff;
}
.styles_submit__E_zzY {
    margin: 15px 0 0;
    width: 100%;
}
@media (min-width: 768px) {
    .styles_submit__E_zzY {
        width: auto;
        margin: initial;
    }
}
.styles_input__DrSaa {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #b6bfcd;
    padding: 32px 16px 12px;
    border: 2px solid #0000;
    border-radius: 8px;
}
@media (min-width: 992px) {
    .styles_input__DrSaa {
        width: calc(100% + 1px);
    }
}
.styles_input__DrSaa:focus {
    box-shadow: none;
    border: 2px solid #007bff;
}
.styles_input__DrSaa:focus-visible {
    outline: none;
}
.styles_dropdownItem__FB8RS {
    display: flex;
    align-items: center;
}
.styles_dropdownItem__FB8RS:hover {
    background-color: #f3f6fb;
}
.styles_selected__WyDpe {
    background-color: #007bff !important;
    color: #fff;
}
.styles_selected__WyDpe .styles_itemDescription__Lf3jb,
.styles_selected__WyDpe .styles_itemTitle__lRhiM {
    color: #fff;
}
.styles_arrowIcon__PEpZD {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 16px;
    color: #858d9f;
    transition: transform 0.1s;
    pointer-events: none;
}
.styles_itemTitle__lRhiM {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #141415;
}
.styles_itemDescription__Lf3jb {
    color: #5b6271;
    font-size: 14px;
    line-height: 14px;
}
.styles_icon__ienpN {
    margin-right: 16px;
}
.styles_iconInput__FUt5l {
    margin-right: 10px;
}
.styles_text__aV7QX {
    font-weight: 700;
    color: #007bff;
}
.styles_servicesWrapper__UgbdY {
    background-color: #fff;
    border-radius: 4px;
    color: #141415;
    margin-bottom: 16px;
}
@media (min-width: 768px) {
    .styles_servicesWrapper__UgbdY {
        display: flex;
        flex-wrap: wrap;
    }
}
.styles_services__saZgD {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 4px;
    flex: 0 0 50%;
    cursor: pointer;
    margin: 0;
}
.styles_services__saZgD:not(:last-child) {
    border-bottom: 1px solid #f8fbff;
}
@media (min-width: 768px) {
    .styles_services__saZgD {
        margin: 0;
        height: 72px;
    }
    .styles_services__saZgD:nth-child(5) {
        border-bottom: none;
    }
}
.styles_selected__zytSj {
    background-color: #007bff;
    color: #fff;
}
.styles_selected__zytSj .styles_description__JVqe_ {
    color: #fff;
}
.styles_servicesTitle__XvR0N {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.styles_iconWrapper__f_Qoh {
    width: 40px;
}
.styles_description__JVqe_ {
    font-size: 14px;
    line-height: 24px;
    color: #5b6271;
}
.styles_wrapper__mruGv {
    display: flex;
    flex-direction: column;
    text-align: left;
}
@media (min-width: 768px) {
    .styles_wrapper__mruGv {
        flex-direction: row;
        align-items: center;
    }
}
.styles_wrapper__mruGv .styles_column__PhBeV,
.styles_wrapper__mruGv .styles_services__igGHC {
    flex: 1 1;
}
.styles_wrapper__mruGv .styles_accountColumn__mySn9 {
    flex: 0 0 280px;
    margin: 0;
    position: relative;
    top: -2px;
    padding: 0 16px;
}
.styles_toWrapper__kT219 {
    border-top: 1px solid #f3f6fb;
}
@media (min-width: 768px) {
    .styles_toWrapper__kT219 {
        border-top: none;
        border-left: 1px solid #f3f6fb;
    }
}
@media (min-width: 992px) {
    .styles_toWrapper__kT219 {
        border-left: none;
    }
}
.styles_buttonWrapper__baOdf {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 12px;
}
@media (min-width: 768px) {
    .styles_buttonWrapper__baOdf {
        flex: 0 0 200px;
        padding-bottom: 0;
    }
}
@media (min-width: 992px) {
    .styles_buttonWrapper__baOdf {
        flex: 0 0 260px;
    }
}
.styles_buttonWrapper__baOdf .styles_startButton__qAR8H {
    width: 100%;
}
.styles_buttonWrapper__baOdf .styles_fromLabel__EirPb {
    text-transform: lowercase;
}
.styles_labelAccount__wSVAX,
.styles_label__SUFuO {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #141415;
    margin: 0;
}
.styles_label__SUFuO {
    padding: 12px 18px;
    position: absolute;
}
.styles_columnWrapper___aAOl {
    display: flex;
    flex-direction: column;
}
.styles_inputSearch__5ImTG > :last-child {
    margin-top: 10px;
}
.styles_inputSearch__5ImTG:hover {
    background: #0000;
}
.styles_inputSearch__5ImTG .styles_input__Uww3w {
    border: 2px solid #0000;
    background-color: initial !important;
    font-size: 16px;
    padding: 32px 16px 12px;
    border-radius: 4px;
}
@media (min-width: 768px) {
    .styles_inputSearch__5ImTG .styles_input__Uww3w {
        border-radius: 8px;
    }
}
.styles_inputSearch__5ImTG .styles_input__Uww3w:focus {
    box-shadow: none;
    border: 2px solid #007bff;
}
.styles_inputSearch__5ImTG .styles_input__Uww3w:hover {
    background: #0000;
}
.styles_inputSearch__5ImTG .styles_input__Uww3w::placeholder {
    color: #b6bfcd;
}
.styles_inputSearch__5ImTG .styles_input__Uww3w:focus-visible {
    outline: none;
}
@media (min-width: 768px) {
    .styles_inputSearch__5ImTG > :last-child {
        width: 350px;
        margin-top: 8px;
    }
}
.styles_inputSearch__5ImTG > :first-child > div {
    display: none;
}
.styles_selected__wh_mM {
    color: #007bff;
    font-weight: 700;
}
.styles_startButton__qAR8H {
    width: 100%;
}
@media (min-width: 576px) {
    .styles_startButton__qAR8H {
        width: unset;
    }
}
.styles_accountMobile__9vaW6 {
    padding: 12px 16px;
    height: 72px;
    background-color: #f8fbff;
    border-radius: 4px;
}
